{% extends "base.html" %}

{% block base_content %}
<h1>Available projects</h1>

<section id="project-workspace">
    <dl>
        {% for project in projects %}
            <input class="{{project.name|slugify}}" type="checkbox" name = "projects" value = "{{project.name|slugify}}">
            <dt class = "{{project.name|slugify}}">{{project.name}}</dt>
            <dd class = "{{project.name|slugify}}">{{project.project_location}}</dd>
        {% endfor %}
    </dl>
</section>

<section id="project-multicontrols">
    <h2>Delete project</h2>
    <form action="{% url "DeleteProject" %}" id="delete-project" method="POST">
        <button type="submit">Delete</button>
    </form>
    <h3 class="delete"></h3>
</section>

<section id="start-project">
    <h2>New Project</h2>
    <form action="{% url "CreateProject" %}" id="new-project" method="POST">
        <input type="text" placeholder = "Project name" name="name">
        <button type="submit">Submit</button>
    </form>
    <h3></h3>
    <div class="progress-bar">
        <span></span>
    </div>
</section>

{% endblock base_content %}