{% load staticfiles %}
<!DOCTYPE html>
<html>
<head itemscope itemtype="http://schema.org/WebPage">
	
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="initial-scale=1">
	
    <title>{{title}}</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css" />
	
	<!-- Header JS -->
	<script src="{% static 'js/modernizr.min.js' %}"></script>
	{% block headerjs %}{% endblock headerjs %}

</head>

<body>
	{% block base_content %}
	{% endblock base_content %}

	<!-- Footer JS -->
	<script src="{% static 'js/app.js' %}"></script>
	{% block footerjs %}{% endblock footerjs %}

</body>

</html>
