.progress-bar{
    height: 20px;
    background: #555;
    position: relative;
    > span{
        display: block;
        height: 100%;
        width: 0%;
        background-color: rgb(43,194,83);
        position: relative;
        overflow: hidden;
    }
}